/home/mads/mads/recreational/cpp/physics/planet_orbits/data.txt
/home/mads/mads/recreational/cpp/physics/planet_orbits/planet_simulation
/home/mads/mads/recreational/cpp/physics/tossing_simulation/data.txt
/home/mads/mads/recreational/cpp/physics/tossing_simulation/toss
physics/planet_orbits/data.txt
physics/planet_orbits/planet_simulation
